.container {
    display: grid; 
    grid-template-columns: 1fr 1.5fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 15px 15px; 
    margin-top: 50px;
    grid-template-areas: 
      "Welcome Trackers"
      "About Apps"
      "About LatestVid"
      "About LatestVid"
  }
  .LatestVid { grid-area: LatestVid; text-align:center; }
  .Apps { grid-area: Apps; text-align:center;}
  .Trackers { grid-area: Trackers; text-align:center;}
  .Welcome { grid-area: Welcome; text-align:center;}
  .About { grid-area: About; text-align:center;}

  .Blog { 
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}
  
.article{
    width: 95%;
}
.container *{
    background-color: var(--Surface0);
    border-radius: 8px;
    padding: 20px;
}