:root{
    --Text: #cad3f5;
    --Subtext1: #b8c0e0;
    --Subtext0: #a5adcb;
    --Overlay2: #939ab7;
    --Overlay1: #8087a2;
    --Overlay0: #6e738d;
    --Surface2: #5b6078;
    --Surface1: #494d64;
    --Surface0: #363a4f;
    --Base: #24273a;
    --Mantle: #1e2030;
    --Crust: #181926;
}