.article{
    background-color: var(--Surface0);
    max-width: 900px;
    margin: auto;
    padding: 0 20px;
    border-radius: 20px;
}

.article h1{
    font-size: 25px;
    color: var(--Text);
    text-align: center;
}

.article h2{
    color: var(--Subtext1);
}

.article h3{
    color: var(--Subtext0);
}

.article p{
    color: var(--Text);
}