@font-face {
    font-family: ShareTechMono;
    src: url(ShareTechMono-Regular.ttf);
}

*{
    color: var(--Text);
    font-family: 'Share Tech Mono', Monospace, Courier;
    font-weight:400;
    font-size: 17px;
}

body{
    background-color: var(--Base);
    margin:0px;
    
}
a{
    cursor: pointer;
    text-decoration: unset;
    
}
a:hover,a:hover *{
    text-decoration: underline;
}
.nav{
    height: 65px;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    border-bottom: dotted 1px #444;
}
.nav .navdiv{
    display:flex;
    max-width: 900px;
    margin: auto;
    padding: 0 30px;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
span{
    margin: 0 5px;
}
.context{
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
}
.nav img{
    width: 35px;
    height: 35px;
    justify-self: left;
}
.nav .navlinks{
    text-align: right;
}
/* .rounded{
    border-radius: 18px;
}
.shadow{
    box-shadow: 14px 19px 36px 9px rgba(0, 0, 0, 0.25);
}
select{
    background-color: var(--Surface1);
    border: none;
    outline: none;
}
option[value="catt"]{
    background-color: #363a4f;
    color: #cad3f5;
}
option[value="wht"]{
    background-color: #ffffff;
    color:black;
}
option[value="dark"]{
    background-color: #1E1E1E;
    color: #e2e2e2;
} */