:root{
    --Text: #e2e2e2;
    --Subtext1: #c8c8c9;
    --Subtext0: #b6b6b6;
    --Overlay2: #939ab7;
    --Overlay1: #8087a2;
    --Overlay0: #6e738d;
    --Surface2: #5b6078;
    --Surface1: #111111;
    --Surface0: #1E1E1E;
    --Base: #171717;
    --Mantle: #1e2030;
    --Crust: #111111;
}