:root{
    --Text: #000000;
    --Subtext1: #1a1a1a;
    --Subtext0: #3f3f3f;
    --Overlay2: #939ab7;
    --Overlay1: #8087a2;
    --Overlay0: #A5A5A5;
    --Surface2: #5b6078;
    --Surface1: #a8a8a8;
    --Surface0: #a8a8a8;
    --Base: #D9D9D9;
    --Mantle: #1e2030;
    --Crust: #111111;
}