{% extends 'main/base.html' %}
{% block title %}
Home
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{%static 'articles.css'%}">
<link rel="stylesheet" href="{%static 'home.css'%}">
<div class="container">
    <div class="LatestVid">
        LatestVid
        <iframe class="rounded" style="float: right;"width="560" height="315" src="{{latestvid}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="Trackers">Apps</div>
    <div class="Apps">Apps</div>
    <div class="Welcome">Welcome</div>
    <div class="About">About</div>
</div>
<div class="Blog">
    Blog
    {%for article in object_list  %}
    <a href="/article/{{article.slug}}"class="rounded shadow article">
        <h1>{{article.title}}</h1>
        <h2>{{article.date}}</h2>
        <h3>{{article.category}}</h3>
        {%if article.video%}
            <div style="display: flex; margin-left: auto;flex-direction: column;align-items: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
            {{article.articleReadTime}}m
            </div>
            <div style="display: flex; flex-direction: column; align-items: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-youtube"><path d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z"></path><polygon points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02"></polygon></svg>
                {{article.articleReadTime}}m
            </div>
        {%endif%}
    </a>
    {%endfor%}
</div>
{% endblock %}