.article{
    display: flex;
    flex-direction: row;
    background-color: var(--Surface0);
    width: 80%;
    align-items: center;
    padding: 5px;
    gap: 12px;
}
.article h1{
    letter-spacing: 0.1px;
    font-weight: 400;
    color: var(--Text);
    text-align: center;
}
.article >div{
    float: right;
    display: flex;
    margin-left: auto;
    text-align: center;
    justify-items: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.article *{
    margin: 0px;
}
.context{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article h2{
    color: var(--Subtext1);
}

.article h3{
    color: var(--Subtext0);
}
