.article{
    margin-top: 100px;
    background-color: var(--Surface0);
    width: 80%;
    min-height: 400px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
}

.article h1{
    font-size: 25px;
    color: var(--Text);
    text-align: center;
}

.article h2{
    color: var(--Subtext1);
}

.article h3{
    color: var(--Subtext0);
}

.article p{
    color: var(--Text);
}