@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
    font-family: ShareTechMono;
    src: url(ShareTechMono-Regular.ttf);
}

*{
    color: var(--Text);
    font-family: 'Share Tech Mono', Monospace, Courier;
    font-weight:400;
    font-size: 17px;
}
body{
    background-color: var(--Base);
    margin:0px;
    
}
a{
    cursor: pointer;
    text-decoration: unset;
    
}
a:hover,a:hover *{
    text-decoration: underline;
}
/* .rounded{
    border-radius: 18px;
}
.shadow{
    box-shadow: 14px 19px 36px 9px rgba(0, 0, 0, 0.25);
} */
.nav{
    display: flex;
    background-color: var(--Surface1);
    gap: 25px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    position:static;
    color: var(--Text);
    padding-top:5px;
    padding-bottom:5px;
    border-bottom: dotted 1px #444;
}
.context{
    display: flex;
    justify-content: center;
}

select{
    background-color: var(--Surface1);
    border: none;
    outline: none;
}
option[value="catt"]{
    background-color: #363a4f;
    color: #cad3f5;
}
option[value="wht"]{
    background-color: #ffffff;
    color:black;
}
option[value="dark"]{
    background-color: #1E1E1E;
    color: #e2e2e2;
}