:root{
    --Text: #e2e2e2;
    --Subtext1: #e2e2e2;
    --Subtext0: #e2e2e2;
    --Overlay2: #e2e2e2;
    --Overlay1: #e2e2e2;
    --Overlay0: #e2e2e2;
    --Surface2: #e2e2e2;
    --Surface1: #171717;
    --Surface0: #171717;
    --Base: #171717;
    --Mantle: #171717;
    --Crust: #171717;
}