.links{
    margin-top:100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}
.links a{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
    background-color: var(--Surface0);
    padding: 25px;
    border-radius: 20px;
}