{% extends 'main/base.html' %}
{% block title %}
{{object.title}}
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{%static 'article.css'%}">
<div class="rounded shadow article">
    <h1>{{object.title}}</h1>
    <h2>{{object.date}}</h2>
    <h3>{{object.category}}</h3>
    {%if object.video%}
    <iframe style="aspect-ratio: 16/9;width:100%" src="{{object.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    {%endif%}
        {{object.article|safe}}
    {%if object.files%}
    {%for item in object.files.all%}
    <a style="text-decoration: underline;" href="/sourceFiles/{{item.file}}">Download {{item.file.name}} {{item.size}}</a>
    {%endfor%}
    {%endif%}
</div>
{% endblock %}