{% extends 'main/base.html' %}
{% block title %}
M-R-1
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{%static 'articles.css'%}">
{%for article in object_list  %}
<a href="/article/{{article.slug}}"class="rounded shadow article">
    <h3>[{{article.category}}]</h3>
    {%if article.video%}
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-youtube"><path d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z"></path><polygon points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02"></polygon></svg>
    {%endif%}
    <h1>{{article.title}}</h1>
    <div>
    <h2>{{article.shrtDate}}</h2>
    </div>
</a>
{%endfor%}
{% endblock %}