{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'logo.png' %}" >
<link rel="stylesheet" id="currTheme" href="{%static 'dark.css'%}">
<link rel="stylesheet" href="{%static 'build.css'%}">
<html>
<head>
    <title>{% block title %}MR1{% endblock %}</title>
</head>
<body>
    <div class="nav">
        <div class="navdiv">
            <a href="/"><img src="{%static 'logo.png'%}"></a>
            <div class="navlinks">
            <a href="/">home</a>
            <span>/</span>
            <a href="/links">links</a>
            {% comment %} <a href="/links">links</a> {% endcomment %}
            {% comment %} <select name="theme" id="theme">
                <option selected value="dark">Dark (minimal)</option>
                <option value="catt">Cattpuccin Mocha</option>
                <option value="wht">Light (not recomended)</option>
            </select>
            <script>
                const selectElement = document.getElementById('theme');

                // Listen for the 'change' event on the <select> element
                selectElement.addEventListener('change', function() {
                // Get the selected option value
                const selectedOption = selectElement.value;
                
                // Get a reference to the <link> element for the CSS file
                const cssLink = document.getElementById('currTheme');
                
                // Set the href attribute of the <link> element to the selected CSS file
                cssLink.href = `static/${selectedOption}.css`;
                });
            </script> {% endcomment %}
        </div>
    </div>
    </div>
    <div class="context">
        {% block content %}
        <div class="article">ZDR</div>
        {% endblock %}
    </div>
    <div class="footer">
    
    </div>
</body>